<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{footer.learnTitle}">
                            LEARN
                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.programmingCourses}">Programming Courses</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.javaCourse}">Java Course</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.helpWithTasks}">Help with Tasks</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.pricing}">Pricing</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.gameProjects}">Game Projects</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.communityTitle}">
                            COMMUNITY
                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.users}">Users</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.articles}">Articles</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.forum}">Forum</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.chat}">Chat</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.successStories}">Success Stories</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.companyTitle}">
                            COMPANY
                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.aboutUs}">About us</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.contacts}">Contacts</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.reviews}">Reviews</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.faq}">FAQ</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.support}">Support</a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img alt="JavaRush" class="mb-3" src="/static/images/logo/jr.svg">
                        <p th:text="#{footer.description}">
                            JavaRush is an online course for learning Java programming from scratch.
                            This course is a perfect way to master Java for beginners.
                            It contains 1200+ of tasks with instant verification and an essential scope of Java
                            fundamentals theory.
                        </p>
                        <h6 th:text="#{footer.followUs}">FOLLOW US</h6>
                        <div>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light" href="#" type="button">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4" th:text="#{footer.copyright}">
            Programmers Are Made, Not Born © 2023 JavaRush
        </div>
    </footer>
</div>
</html>